#luz1 {
    width: 50px;
    height: 100px;
}

#luz2 {
    width: 50px;
    height: 100px;
}

#luz3 {
    width: 50px;
    height: 100px;
}

#luz4 {
    width: 50px;
    height: 100px;
}

#luz5 {
    width: 50px;
    height: 100px;
}

#luz6 {
    width: 50px;
    height: 100px;
}